.section {
    height: 100%;
    width: 100%;
    padding-bottom: 500px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

input {
    margin-left: 10px;
    display: inline;
}

label {
    padding-bottom: 10px;  
    display: block;
}

.left {
    margin-top: 25px;
    width: 45%;
}

.left-container {
    border: 1px solid rgba(255, 255, 255, 0.39);
    background-color: black;
    border-radius: 10px;
    padding: 30px;
}

.right {
    width: 45%;
    padding: 10px;
}

.filtered_tracks {
    text-align: left;
}

.track-container2 {
    margin:0;
    padding: 8px;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    height: 17px;
    border-top: 1px solid rgba(255, 255, 255, 0.39);
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    font-size: 13.5px;
    cursor: context-menu;
}

.smallicon2 {
    margin-top: auto;
    margin-bottom: auto;
}

.button {
    padding: 8px;
}

.button:hover {
    background-color: rgb(213, 219, 219);
    border-color:rgb(213, 219, 219);
}

.primary {
    background-color: #1d6160;
    border-color: #1d6160;
    color: white;
    width: 100px;
}

.primary:hover {
    background-color: #1a5857;
    border-color: #1a5857;
}

.uid_label {
    color: crimson;
    cursor: pointer;
    font-size: smaller;
}

.idDisplay {
    width: 160px;
}

.create-playlist > h3 {
    color: #218f8d;
}

.button-row {
    margin-top: 10px;
    margin-bottom: 10px;
}
