.section {
    height: 100%;
    width: 100%;
    padding-bottom: 500px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

input {
    margin-left: 10px;
    display: inline;
}

label {
    padding-bottom: 10px;  
    display: block;
}

.left {
    margin-top: 25px;
    width: 45%;
}

.left-container {
    border: 1px solid rgba(255, 255, 255, 0.39);
    background-color: black;
    border-radius: 10px;
    padding: 30px;
}

.right {
    margin-left: 15px;
    margin-top: 25px;
    width: 45%;
}

.filtered_tracks {
    text-align: left;
}

.track-container2 {
    margin:0;
    padding: 8px;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 17px;
    border-top: 1px solid rgba(255, 255, 255, 0.39);
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    font-size: 13.5px;
    cursor: context-menu;
}

.smallicon2 {
    margin-top: auto;
    margin-right: 8px;
    margin-bottom: auto;
}

.button {
    padding: 8px;
}

.button:hover,  .playlists-displayed > button:hover {
    background-color: rgb(213, 219, 219);
    border-color:rgb(213, 219, 219);
}

.primary {
    background-color: #1d6160;
    border-color: #1d6160;
    color: white;
    width: 100px;
}

.primary:hover {
    background-color: #1a5857;
    border-color: #1a5857;
}

.uid_label {
    color: crimson;
    cursor: pointer;
    font-size: smaller;
}

.idDisplay {
    width: 160px;
}

.create-playlist > h3 {
    color: #218f8d;
}

.button-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.playlists-displayed {
    padding: 8px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playlists-displayed > button {
    margin: 0;
    margin-left: 5px;
    width: 50px;
    font-size: 12px;
    height: auto;
}

h3.name {
    margin-top:0;
}

.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.playlist-tracks > .header > img {
    width: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.playlists-displayed > .playlist-name {
    width: 100%;
    margin-right: auto;
    vertical-align: middle;
}

.shown {
    background-color: #77acab;
    border-color: #77acab;
}

button.shown:hover {
    background-color: #70a1a1;
    border-color: #70a1a1;
}
