.footer {
  display: inline-block;
  background-color: rgb(46, 4, 46);
  bottom: 0;
  width: 100%;
  padding-left: 20px;
}

.album_info {
  padding-top: 30px ;
  height: 100px;
  width: 100px;
  float: left;
}

.track_info {
  padding-top: 30px;
  padding-right: 20px;
  color: #fff;
  float: left;
}

p {
  margin: 0;
  padding: 0;
}

.player_controls {
 padding: 30px;
}
  
