.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.Login-header:hover {
  color: #61dafb;
}

#bar {
  top:0;
  width: 100vw;
  background-color: #61dafb;
}

#linksMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Login {
  position: absolute;
  top: calc(50vh - 25px);
  left: calc(50vw - 50px);
  width: 100px;
  height: 50px;
  text-align: center;
}

.icon:hover {
  color: #2FA7A4;
}

.icon {
  transform: scale(4,4);
  color: grey;
}
